*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    color: white;
    font-size: 55px;
    text-decoration: underline;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 7vmin;
    color: #b0413e;
    background-color: white;
    border: none;
    cursor: pointer;
}
#reset{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#reset:hover{
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 5px;
}
.msg-container{
    height: 100vmin;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
#new-btn:hover{
    background-color: rgba(0,0,0,0.5);
    letter-spacing: 5px;
}
#msg{
    color: white;
    font-size: 6vmin;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: sans-serif;
}
.hide{
    display: none;
}