*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(10, 22, 53);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
}


img{
    height: 150px;
    width:  150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 7rem;
}